server:
  port: 8080


topic:
  instanceTopic: instanceTopic
  orderTopic: orderTopic
  stateMsgTopic: stateMsgTopic

---
spring:
  profiles: default
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      enable-auto-commit: true
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL57Dialect
        show_sql: true

  datasource:
    url: jdbc:mysql://uengine.cxp0klyrcjfk.ap-northeast-2.rds.amazonaws.com:3306/uengine
    username: root
    password: my-secret-pw
    # mybatis 설정시에는 driverClassName 을 넣어주어야함
    driverClassName: com.mysql.jdbc.Driver
  redis:
    host: ae382f608243111e9884d02be6ea23ef-2135508165.ap-northeast-2.elb.amazonaws.com
    port: 6379
    lettuce:
      pool:
        max-active: 7
        max-idle: 7
        min-idle: 2
    password: secretpassword
  cache:
    redis:
      cache-null-values: false
      use-key-prefix: true
    type: redis

  mybatis:
    configuration:
      # user_name 을 userName 으로 조회하기 위해서는 camel-case 옵션을 줘야함
      map-underscore-to-camel-case: true
server:
  port: 8086
---
spring:
  profiles: docker
  kafka:
    bootstrap-servers: my-kafka.kafka.svc.cluster.local:9092
    #    bootstrap-servers: my-kafka:9092
    consumer:
      enable-auto-commit: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL57Dialect
        show_sql: true

  datasource:
    url: jdbc:mysql://uengine.cxp0klyrcjfk.ap-northeast-2.rds.amazonaws.com:3306/uengine
    username: root
    password: my-secret-pw
    # mybatis 설정시에는 driverClassName 을 넣어주어야함
    driverClassName: com.mysql.jdbc.Driver
  redis:
    host: my-redis-master
    port: 6379
    lettuce:
      pool:
        max-active: 7
        max-idle: 7
        min-idle: 2
    password: secretpassword
  cache:
    redis:
      cache-null-values: false
      use-key-prefix: true
    type: redis

  mybatis:
    configuration:
      # user_name 을 userName 으로 조회하기 위해서는 camel-case 옵션을 줘야함
      map-underscore-to-camel-case: true
